@if (dossier() != null) {
  <div class="m-0 infos-dossier">
    <div class="row d-flex">
      <div class="col-auto mr-5">
        <h4 class="mb-4 text-dark">
          {{ lang.infosFolder }}{{ (typeDossier == 'reglement') ? lang.infosFolderReglement : lang.infosFolderVersement }}
          n° <span>{{ dossier().code_fonctionnel }}</span>
          @if (type() == 'DDR' && dossier().numero_dossier_reglement == null) {
            <span>-x</span>
          }
        </h4>
      </div>
      <div class="col-auto mb-2 pl-0">
        <span [class]="(dossierAnnule ? 'danger-border' : (dossierRembourse ? 'warning-border' : 'info-border')) + ' ml-2 mr-2'" [title]="lang.versement.statutDossier">{{ statutDossier }}</span>
        <span class="anomalie-tags" [title]="lang.versement.modalite">{{ modalitePaiement }}</span>
        @if (app.isAFD(dossier().entite)) {
          <span class="anomalie-tags ml-2" [title]="lang.versement.type">{{ typeVersement }}</span>
        }
      </div>
    </div>
    @if (dossier() != null && app.isAFD(dossier().entite) && dossier().obj_ext_id != null) {
      <div class="row m-0 mt-1 mb-5">
        <div class="badge-table col3"><span>{{ lang.reprise }}</span></div>
      </div>
    }
    <div class="row m-0 mt-1 mb-5">
      <button class="btn btn-notifications d-flex" (click)="showNotifications()">
        <i class="fas fa-bell"></i>
        <span class="badge ml-1">{{ notifications.length }}</span>
        <small>{{ lang.commentaireNotification.labelButtonNotification }}</small>
      </button>
    </div>
  </div>
}
<!-- MODALS -->
<app-modal [modalId]="'modalAddItem' + dossier().id" [modalTitle]="lang.commentaireNotification.titleModalNotification" size="lg" hideFooter="true">
  @if (notifications.length > 0) {
    <div class="comments-scroll">
      @if (notifications.length > 0) {
        <div>
          @for (notification of notifications; track notification) {
            <div>
              @if (notification.typeNotification == '-1') {
                <div class="mt-2">
                  {{ lang.commentaireNotification.labelSenderNotificationComment }}
                  {{ notification.expediteur }} {{ lang.commentaireNotification.labelDateNotificationComment }} {{ app.formatDate(notification.dateEnvoi) }} {{ lang.commentaireNotification.labelHoursNotificationComment }}
                  {{ app.formatHours(notification.dateEnvoi)}}
                </div>
              } @else {
                <div class="mt-2">{{ lang.commentaireNotification.labelSenderNotificationComment }} {{ notification.expediteur }} A {{ notification.renderDestinataire }} {{ lang.commentaireNotification.labelDateNotificationComment }}
                  {{ app.formatDate(notification.dateEnvoi) }} {{ lang.commentaireNotification.labelHoursNotificationComment }} {{app.formatHours(notification.dateEnvoi)}}
                  @if (app.isEmpty(app.getCorpNotifFormat(notification.corpNotification))) {
                    <span> : {{ lang.noComment }}</span>
                  }
                </div>
              }
              @if (!app.isEmpty(notification.corpNotification)) {
                <p class="text-dark font-weight-bold"> <br>
                  <span>{{ app.getCorpNotifFormat(notification.corpNotification) }}</span>
                </p>
              }
              <div class="border-top my-3"></div>
            </div>
          }
        </div>
      }
    </div>
  }
  @if (notifications == null || notifications.length == 0) {
    <div>
      {{ lang.commentaireNotification.labelNoNotification }}
    </div>
  }
</app-modal>