<app-modal #sendNotification modalId="modalNotification" [modalTitle]="titleModal" (validate)="validerNotification()" size="lg" [validateLabel]="validateLabelBtn" [iconValidate]="iconValidateBtn" [typeBtn]="typeBtn" [labelBtnClose]="labelBtnClose" (cancel)="cancelAction()">
  <p slot="subtitle" class="blockSubTitle mb-4">
    @if (isDCV && typeAction == '-1') {
      <span>{{ lang.fieldsRequired }} </span>
    } @else {
      {{ lang.infoRequired }}
    }
    <span class="text-danger">*</span>
    @if (!isDCV) {
      <span>{{ lang.mandatory }}</span>
    }
  </p>
  @if (!isDCV) {
    <h6 class="text-dark">{{ messageHeaderModal }} @if (typeAction == '-1') {
      <span>?</span>
    }</h6>
  }
  @if (app.isMODAF(role) && typeAction == '1' && !app.isAFD(entite)) {
    <div>
      <p> {{ lang.resendFolderRequest }} </p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="retourAgent" id="radioRetourAgent1" value="0" [(ngModel)]="typeDestinataire" (change)="filterDestinataires('CHGAFF')">
        <label class="form-check-label" for="radioRetourAgent1">{{ lang.versementControles.managementOfficer }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="retourAgent" id="radioRetourAgent2" value="1" [(ngModel)]="typeDestinataire" (change)="filterDestinataires('CHGAPPUI')">
        <label class="form-check-label" for="radioRetourAgent2">{{ lang.versementControles.businessAgent }}</label>
      </div>
    </div>
  }
  @if (app.isDirecteur(role) && typeAction == '1' && app.isAFD(entite)) {
    <div>
      <p> {{ lang.resendFolderRequest }} </p>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="retourAgent" value="0" [(ngModel)]="typeDestinataire" (change)="filterDestinataires('AGENTVERSEMENT')">
        <label class="form-check-label">{{ lang.roles.agv }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="retourAgent" value="1" [(ngModel)]="typeDestinataire" (change)="filterDestinataires('CHGPROJET')">
        <label class="form-check-label">{{ lang.roles.chp }}</label>
      </div>
    </div>
  }
  @if (isDCV && typeAction == '-1') {
    <div class="bg-light rounded p-3">
      <div class="row">
        <div class="col-auto p-2">
          <i class="fa fa-exclamation-circle text-warning"></i>
        </div>
        <div class="col">
          {{ lang.reglement.controleDCV.messageAnnulerDossierDCV }}
        </div>
      </div>
    </div>
  }
  @if (!isDCV && typeAction == '0') {
    <div class="bg-light rounded p-3 mt-4">
      <div class="row">
        <div class="col-auto p-2">
          <i class="fa fa-exclamation-circle text-warning"></i>
        </div>
        <div class="col p-1">
          {{ lang.warningDLCS }}
        </div>
      </div>
    </div>
  }
  <div class="mt-2" id="formio_notification"></div>
</app-modal>
<app-modal #modalDCV modalId="modalValidControlesDCV" [modalTitle]="titleModal" (validate)="validerDossier()">
  <div>
    @if (isDCV) {
      <p>{{ lang.reglement.controleDCV.subTitleModal }}</p>
    }
    @if (!isAFD && !isDCV && isControlesOk) {
      <p>{{ lang.versement.messageValideVersementDir }}</p>
    }
    @if (isAFD && !isDCV && isControlesOk) {
      <p>
        {{ lang.reglement.messageValideReglementDirOk }}
        <br><br>
        {{ lang.reglement.messageValidationInwebo }}
      </p>
    }
  </div>
  @if (isDCV || (isAFD && !isControlesOk)) {
    <div class="bg-light rounded p-3">
      <i class="fa fa-exclamation-circle text-warning"></i>
      <!-- TODO à ravoir lidia lundi 27/10/2023 : enlever le style et optimiser cette partie-->
      @if (isDCV && isAvance()) {
        <span class="ml-4" style="margin-top:-20px">{{ lang.avanceContractuel.controleDCV.messageValidationDCV }}</span>
      }
      @if (isDCV && !isAvance()) {
        <span class="ml-4" style="margin-top:-20px">{{ lang.reglement.controleDCV.messageValidationDCV }}</span>
      }
      @if (isAFD && !isDCV && !isControlesOk) {
        <span class="ml-4" style="margin-top:-20px">
          {{ lang.reglement.warningValideReglementDir }}
          <br><br>
          {{ lang.reglement.messageValidationInwebo }}
        </span>
      }
    </div>
  }
</app-modal>
<!-- TOAST -->
<div class="toast error" id="toastSendNotificationError">{{ lang.failedFormSave }}</div>
<div class="toast long error" id="toastAuthentificationInweboError">{{ lang.failedAuthentificationInwebo }}</div>
<div class="toast warning" id="toastMemberNotExist">{{ toastMemberNotExist }}</div>