<div class="mx-auto w-75 d-none">
  @if (rows != null) {
    <table id="excel-table" class="report-table">
      <tr>
        @for (col of cols; track col) {
          @if (!col.action) {
            <th>
              <span>{{ col.label }}</span>
            </th>
          }
        }
      </tr>
      @for (row of rows; track row) {
        <tr>
          @for (col of cols; track col) {
            @if (!col.action) {
              <td>
                <span>{{ row[col.key] }}</span>
              </td>
            }
          }
        </tr>
      }
    </table>
  }
</div>