<app-nav-actions>
  <div class="col">
    <button class="btn btn-secondary" (click)="annulerTache()">
      {{ lang.return }}
    </button>
  </div>
  @if (versement != null && !isDossierAnnule) {
    <div class="col-auto text-right d-flex">
      @if (!read) {
        <app-btnMenu icon="fas fa-ellipsis-h" [side]="(versement != null && versement.dossier_reglement.length > 0 && !app.isAFD(entite)) ? 'left' : 'right'">
          <app-btn #btnAnnulerDossier [inMenu]=true colorLabel="text-danger" side="right" [label]="lang.versement.annulerDossierbtn" (action)="notification().showModalNotification(-1)"></app-btn>
        </app-btnMenu>
      }
      @if (!read && versement.dossier_reglement.length > 0 && !app.isAFD(entite)) {
        <button class="btn btn-new ml-2" (click)="validerTache(true)">
          @if (isLoadingValidate) {
            <span class="spinner-border spinner-border-sm mr-1"></span>
          }
          <i *ngIF="!isLoadingValidate" class="fas fa-arrow-right"></i> {{ lang.reglement.validateReglements}}
        </button>
      }
    </div>
  }
</app-nav-actions>
<app-content>
  <div class="row d-flex mt-2" [ngClass]="{ 'invisible': loading }">
    <div id="sidebar-col" class="col-12 col-md-4 col-xl-3">
      <app-card [autoHeight]=false>
        <div id="sidebar-container" class="container infos-dossier">
          @if (showSidebar) {
            <span class="mb-3 mt-4 info-header text-uppercase">{{ lang.contexteDossier }}</span>
          }
          <button class="btn btn-collapse-sidebar float-right" (click)="app.toggleSidebar(this)" [title]="titleSidebarToggle">
            <i id="ico-sidebar-context" class="fas fa-compress-alt"></i>
          </button>
          @if (showSidebar && !loading) {
            <app-infos-context #infosContext [showConcoursPROPARCO]="true" [versement]="versement" [reglements]="reglements" [entite]="entite" [isDCV]="isDCV"></app-infos-context>
          }
        </div>
      </app-card>
    </div>
    <div id="sidebar-col-content" class="col-12 col-md-8 col-xl-9">
      <div class="row d-flex">
        <div class="col">
          <app-card [autoHeight]=false className="mt-0">
            <div class="m-4">
              <div>
                @if (versement == null) {
                  <div class="container">
                    <app-spinner></app-spinner>
                  </div>
                }
                @if (versement != null && !loading) {
                  <app-infos-dossier #infosDossier [dossier]="versement" type="DV" [versement]="versement"></app-infos-dossier>
                }
              </div>
              <h4 class="titre">
                {{ lang.versement.requestList }}
                @if (app.isAFD(entite)) {
                  <i class="fas fa-question-circle info-bulle" [title]="lang.versement.requestListTooltipAFD"></i>
                }
                @if (!app.isAFD(entite)) {
                  <i class="fas fa-question-circle info-bulle" [title]="lang.versement.requestListTooltipPRO"></i>
                }
              </h4>
              <div class="row mt-4">
                <div class="col">
                  @if (versement != null) {
                    <app-infos-versement [versement]="versement" [tache]="tache" [caseId]="caseId" [role]="role"></app-infos-versement>
                  }
                </div>
              </div>
              @if (reglements != null) {
                <div class="row mt-4">
                  <div class="col">
                    <h6>{{ lang.reglementControles.reglementRequest }}</h6>
                    <app-table #tableReglements [type]="'reglements' + entite" [parentItems]="reglements" [manualLoading]=true [hideFilters]=true [enableAdd]="(app.isAgentVersement(role) || app.isChargeAppui(role)) && !isDossierAnnule && !app.isDirecteur(role)" [itemsByPage]="10" (file)="downloadFile($event)" (goto)="gotoReglement($event)" (add)="gotoReglement()" highlightIf="canceled" [highlightIfValue]=true highlightMode="canceled" [lineClickable]=true [hideSort]=true (refresh)="getReglements()"></app-table>
                  </div>
                </div>
              }
            </div>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</app-content>
@if (showReglement) {
  <app-infos-reglement #detailsReglement [role]="role"></app-infos-reglement>
}
@if (versement != null && versement != null) {
  <app-notification #notification typeDossier="DV" [dossier]="versement" [tache]="tache" persistenceIdParent="0" [checkReglementsAnnule]="true" (annulerDossier)="annulerDossier($event)" (annulerAction)="annulerAction($event)"></app-notification>
}
<!-- TOASTS -->
<div class="toast" id="toastVersementAnnulerOk">{{ lang.versement.toastDossierAnnulerOk }}</div>
<div class="toast error" id="toastVersementAnnulerKo">{{ lang.versement.toastDossierAnnulerKo }}</div>
<div class="toast error" id="toastImpossibleAnnulerDossier">{{ lang.versement.toastImpossibleAnnulerDossier }}</div>