<div class="mt-2">
  <!-- label du tiers en fonction du type du parent -->
  @if (isDV) {
    <label>{{ lang.versement.tiers.labelSelectTiers }} <span class="text-danger">*</span></label>
  }
  @if (isDC) {
    <label>{{ lang.documentContractuel.id_fournisseur }} <span class="text-danger">*</span></label>
  }
  @if (!isDV && !isDC && !isJR && !isJA && !isJDC) {
    <label>{{ lang.reglement.tiers.labelSelectTiers }} <span class="text-danger">*</span></label>
  }
  @if ((isJR || isJA || isJDC) && !isDV) {
    <label>{{ lang.justificatifReglement.emetteur }} <span class="text-danger">*</span></label>
  }
  <div class="row">
    <div class="d-flex col">
      <div class="input-group">
        <div class="input-group-prepend">
          <!-- liste deroulante des tiers -->
          @if (listTiersUsed != null && listTiersUsed.length > 0) {
            <select class="form-control w-auto" [class]="(app.isEmpty(tiersSelected) && checkedSelectedBeneficiaire) ? 'border border-danger' : ''" [(ngModel)]="tiersSelected" [disabled]="read" (change)="getBeneficiaire()">
              @for (tiers of listTiersUsed; track tiers) {
                <option [ngValue]="tiers">{{ tiers.idTiers }} - {{ tiers.libLong }}</option>
              }
            </select>
          }
          <!-- si pas de tiers on affiche un message dans une liste desactivée -->
          @if (listTiersUsed == null || listTiersUsed.length == 0) {
            <select class="form-control w-auto" disabled>
              @if (!isJDC) {
                <option>{{ lang.tiers.aucunTiers }}</option>
              }
              @if (isJDC || (isDC && !isJDC)) {
                <option>{{ lang.tiers.aucunTiersDC }}</option>
              }
            </select>
          }
        </div>
        @if (!read) {
          <div class="input-group-append ml-2">
            <button class="btn btn-filter" data-toggle="collapse" data-target="#collapseFilter" (click)="searchTiers()">
              <i class="fa fa-search" [title]="lang.reglement.tiers.searchTiers"></i>
            </button>
          </div>
        }
      </div>
    </div>
  </div>
  <!-- texte champ requis -->
  @if (app.isEmpty(tiersSelected) && checkedSelectedBeneficiaire) {
    <div class="form-text error mt-2">
      {{ lang.formFieldMandatory }}
    </div>
  }
  <!-- modal pour afficher la liste des tiers et faire une recherche -->
  <app-modal [modalId]="'modalAddTiers' + typeParentObject" icon="plus" size="xl" [modalTitle]="lang.selectionTiers" hideFooter="true">
    @if (listTiers != null) {
      <app-table #tableTiers type="tiersReglement" [parentItems]="listTiers" [manualLoading]=true [itemsByPage]="5" (goto)="selectTiers($event)" [lineClickable]=true [hideSubfilters]=true (refresh)="getTiers()"></app-table>
    }
  </app-modal>
</div>