<app-nav-actions>
  <div class="col">
    <button class="btn btn-secondary" (click)="annulerAnomalie()">
      {{ lang.return }}
    </button>
  </div>
  @if (!read) {
    <div class="col-md-auto text-right">
      <app-btn #btnSaveAnomalie [label]="lang.save" type="secondary" ico="save" (action)="saveAnomalie(false)"></app-btn>
      <button class="btn btn-new ml-2" (click)="confirmValiderAnomalie()">
        <i class="fas fa-arrow-right"></i> {{ lang.validate }}
      </button>
    </div>
  }
</app-nav-actions>
<app-content>
  <div class="row d-flex mt-2">
    <!-- SIDEBAR -->
    <div id="sidebar-col" class="col-12 col-md-4 col-xl-3">
      <app-card [autoHeight]=false>
        <div id="sidebar-container" class="container infos-dossier">
          @if (showSidebar) {
            <span class="mb-3 mt-4 info-header text-uppercase">
              @if (!isAnoRaj && !isAnoRajDefaut) {
                <span>{{ lang.reglementControles.dossierReglement }}</span>
              }
              @if (isAnoRaj || isAnoRajDefaut) {
                <span>{{ lang.reglementControles.contexteDossier }}</span>
              }
            </span>
          }
          <button class="btn btn-collapse-sidebar float-right" (click)="app.toggleSidebar(this)" [title]="titleSidebarToggle">
            <i id="ico-sidebar-context" class="fas fa-compress-alt"></i>
          </button>
          @if (!isAnoRaj && !isAnoRajDefaut && reglement != null && showSidebar) {
            <app-infos-context [reglement]="reglement" [entite]="entite" [isDCV]="true"></app-infos-context>
          }
          @if ((isAnoRaj || isAnoRajDefaut) && avanceContractuel != null && showSidebar) {
            <app-infos-context [avance]="avanceContractuel" [isDCV]="true" [isDcRAJ]="true" [entite]="entite"></app-infos-context>
          }
        </div>
      </app-card>
    </div>
    <div id="sidebar-col-content" class="col-12 col-md-8 col-xl-9">
      <div class="row d-flex">
        @if (anomalie != null) {
          <div class="col">
            <app-card [autoHeight]=false>
              <div class="m-4">
                <!-- TITRE -->
                <div class="row infos-dossier">
                  <div class="col-auto mr-5">
                    <span class="mb-4 mt-0 info-header text-uppercase">
                      @if (!isCritiqueManager()) {
                        <span>
                          @if (!isAnoRaj && !isAnoRajDefaut) {
                            <span>{{ lang.anomalie.declare }}</span>
                          }
                          @if (isAnoRaj || isAnoRajDefaut) {
                            <span>{{ lang.anomalie.declareRaj }}</span>
                          }
                          @if (isCritique()) {
                            <span>&nbsp;{{ lang.anomalie.critique }}</span>
                          }
                        </span>
                      }
                      @if (isCritiqueManager()) {
                        <span>{{ lang.anomalie.validAnoCritique }}</span>
                      }
                      <span class="c-highlight ml-3">&nbsp;{{ anomalie.codeFonctionnel }} </span>
                    </span>
                  </div>
                  <div class="col-auto mb-2 pl-0">
                    <span class="anomalie-status ml-2 mr-2">{{ anomalie.statut }}</span>
                    @if (anomalie.regularisable) {
                      <span class="anomalie-tags">{{ lang.anomalie.regul }}</span>
                    }
                    @if (!anomalie.regularisable) {
                      <span class="anomalie-tags-not">{{ lang.anomalie.nonRegul }}</span>
                    }
                    @if (!isAgent) {
                      <span class="anomalie-tags ml-2">{{ app.capitalize(anomalie.criticite) }}</span>
                    }
                  </div>
                </div>
                <span class="mt-2 mb-3 ml-auto form-label-sousTitle-anomalie">{{ anomalie.code }} - {{ anomalie.libelle }}</span>
                @if (!isAgent) {
                  <div class="row">
                    @if (!isAnoRaj && !isAnoRajDefaut) {
                      <div class="col-2 col-form-label">{{ lang.anomalie.dossierControle }}</div>
                    }
                    @if (isAnoRaj || isAnoRajDefaut) {
                      <div class="col-2 col-form-label">{{ lang.anomalie.dossierControleRaj }}</div>
                    }
                    <div class="col col-form-label font-weight-bold">
                      <a (click)="gotoDossier()" class="comment-link" target="_blank">{{ anomalie.numeroDC }}</a>
                    </div>
                  </div>
                }
                <div class="row">
                  <div class="col-2 col-form-label">{{ lang.anomalie.thema }}</div>
                  <div class="col col-form-label font-weight-bold">{{ anomalie.theme }}</div>
                </div>
                <div class="row">
                  <div class="col-2 col-form-label pb-0">{{ lang.anomalie.PC }}</div>
                  <div class="col col-form-label font-weight-bold pb-0">{{ anomalie.libellePC }}</div>
                </div>
                @if (!isAgent) {
                  <div class="row mt-2">
                    <div class="col-2 col-form-label pb-0">{{ lang.anomalie.SPC }}</div>
                    <div class="col col-form-label font-weight-bold pb-0">{{ anomalie.libelleSPC }}</div>
                  </div>
                }
              </div>
            </app-card>
            <app-card [autoHeight]=false className="mt-3">
              @if (loading) {
                <div class="container p-3">
                  <app-spinner></app-spinner>
                </div>
              }
              @if (!loading) {
                <div class="m-4">
                  <!-- ACTIONS UTILISATEUR -->
                  @if (isCritiqueManager()) {
                    <h6 class="mb-4">{{ lang.anomalie.validManager }}</h6>
                    }<!-- SI MANAGER/CRITIQUE/MODIF -->
                    @if (!isCritiqueManager() && !isAgent) {
                      <h6 class="mb-4 field-required">{{ lang.anomalie.regulAno }}</h6>
                      }<!-- SI PAS MANAGER/CRITIQUE/EDITION ET PAS AGENT -->
                      @if (!isAgent || read) {
                        <div class="mb-3"><!-- SI PAS AGENT OU LECTURE -->
                          @if (!isCritiqueManager()) {
                            <!-- SI PAS MANAGER/CRITIQUE/MODIF -->
                            @if (anomalie.regularisable) {
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="anomalieRegulAction" [(ngModel)]="action" value="REGULARISEE" [disabled]="read">
                                <label class="form-check-label">{{ lang.anomalie.actionRegul }}</label>
                                <i class="fas fa-question-circle info-bulle" [title]="lang.anomalie.tooltipRegularisee"></i>
                              </div>
                            }
                            @if (anomalie.regularisable) {
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="anomalieRegulAction" [(ngModel)]="action" value="REFUSE" [disabled]="read">
                                <label class="form-check-label">{{ lang.anomalie.actionRefus }}</label>
                                <i class="fas fa-question-circle info-bulle" [title]="lang.anomalie.tooltipAttRegul"></i>
                              </div>
                            }
                            @if (anomalie.regularisable) {
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="anomalieRegulAction" [(ngModel)]="action" value="ABAND" [disabled]="read">
                                <label class="form-check-label">{{ lang.anomalie.abandon }}</label>
                              </div>
                            }
                            @if (!anomalie.regularisable) {
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="anomalieRegulAction" [(ngModel)]="action" value="DECLAR" [disabled]="read">
                                <label class="form-check-label">{{ lang.anomalie.declaree }}</label>
                                <i class="fas fa-question-circle info-bulle" [title]="lang.anomalie.tooltipAnoConfirmee"></i>
                              </div>
                            }
                            @if (!anomalie.regularisable && !isAnoRajDefaut) {
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="anomalieRegulAction" [(ngModel)]="action" value="DECLAR_DOC_OK" [disabled]="read">
                                <label class="form-check-label">{{ lang.anomalie.declareeOK }}</label>
                                <i class="fas fa-question-circle info-bulle" [title]="lang.anomalie.tooltipAnoDocEnvoye"></i>
                              </div>
                            }
                            @if (!anomalie.regularisable) {
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="anomalieRegulAction" [(ngModel)]="action" value="ABAND" [disabled]="read">
                                <label class="form-check-label">{{ lang.anomalie.abandonnee }}</label>
                              </div>
                            }
                          }
                          @if (isCritiqueManager()) {
                            <!-- SI MANAGER/CRITIQUE/MODIF -->
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="anomalieRegulAction" [(ngModel)]="action" value="AVEC_INCIDENT" [disabled]="read">
                              <label class="form-check-label">{{ lang.anomalie.validerAvecIncident }}</label>
                              <i class="fas fa-question-circle info-bulle" [title]="lang.anomalie.tooltipAvecIncident"></i>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="anomalieRegulAction" [(ngModel)]="action" value="SANS_INCIDENT" [disabled]="read">
                              <label class="form-check-label">{{ lang.anomalie.validerSansIncident }}</label>
                              <i class="fas fa-question-circle info-bulle" [title]="lang.anomalie.tooltipSansIncident"></i>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="anomalieRegulAction" [(ngModel)]="action" value="ABAND" [disabled]="read">
                              <label class="form-check-label">{{ lang.anomalie.abandon }}</label>
                              <i class="fas fa-question-circle info-bulle" [title]="lang.anomalie.tooltipAband"></i>
                            </div>
                          }
                        </div>
                      }
                      <!-- ISIMAN -->
                      @if ((isCritiqueAgent() || isCritiqueControleur() || (isCritique() && read))) {
                        <div class="form-group mb-4 col-4 pl-0">
                          <label>{{ lang.anomalie.isiman }}</label>
                          <input type="text" class="form-control" [(ngModel)]="numeroISIMAN" [disabled]="isCritiqueControleur() || read" [placeholder]="lang.anomalie.placeholderIsiman">
                          @if (isCritiqueControleur() || read) {
                            <br>
                              <input type="checkbox" [(ngModel)]="numeroISIMANValide" [disabled]="read" class="mr-2"> {{ lang.anomalie.isimanValid }}
                              <i class="fas fa-question-circle info-bulle" [title]="lang.anomalie.tooltipIsimanValid"></i>
                            }
                          </div>
                        }
                        <!-- COMMENTAIRES -->
                        <label>{{ lang.anomalie.fil }}</label>
                        @for (comment of anomalie.comments; track comment; let idxComment = $index) {
                          @if (!comment.annule) {
                            <div class="row mx-0 anomalie-comment">
                              <div class="col-auto">
                                <div class="anomalie-avatar d-flex justify-content-center text-center align-items-center">
                                  {{ comment.userInitials }}
                                </div>
                              </div>
                              <div class="col">
                                <div class="row align-items-center">
                                  <div class="col">
                                    <span class="font-weight-bold mr-3">{{ comment.userName }}</span>
                                    <span class="mr-3 anomalie-sublabel">{{ app.getRefLabel('refRoles', comment.userRole) }}</span>
                                    <span class="anomalie-sublabel">{{ app.formatDate(comment.date) + ' ' + app.formatHours(comment.date) }}</span>
                                  </div>
                                  @if (!read && existMyComment && (idxComment == anomalie.comments.length - 1)  && comment.userId == currentUserId) {
                                    <div class="col-auto right">
                                      <button class="btn btn-help" (click)="editCommentaire(comment)" [title]="lang.anomalie.updateComment">
                                        <i class="fas fa-pen"></i>
                                      </button>
                                    </div>
                                  }
                                </div>
                                <div class="row mt-3 align-items-center">
                                  <div class="col">
                                    {{ comment.comment }}
                                  </div>
                                </div>
                                @if (comment.liens != null && comment.liens.length > 0 && comment.liens[0].value != '') {
                                  <div class="row mt-3 align-items-center">
                                    <div class="col">
                                      @for (lien of comment.liens; track lien) {
                                        <div class="mt-1">
                                          <i class="fas fa-link"></i>
                                          <a [href]="lien.value" class="ml-3 comment-link" target="_blank">{{ lien.value }}</a>
                                        </div>
                                      }
                                    </div>
                                  </div>
                                }
                              </div>
                            </div>
                          }
                        }
                        <!-- AJOUT/MODIF COMMENTAIRE -->
                        @if (!read && !existMyComment && !existMyCommentLast) {
                          <div class="row mx-0 anomalie-comment">
                            <div class="col-auto">
                              <div class="anomalie-avatar d-flex justify-content-center text-center align-items-center">
                                {{ app.getUserInitiales(currentUserName) }}
                              </div>
                            </div>
                            <div class="col">
                              <div class="row align-items-center">
                                <div class="col">
                                  <span class="font-weight-bold mr-3">{{ currentUserName }}</span>
                                  <span class="mr-3 anomalie-sublabel">{{ currentUserRole }}</span>
                                  <span class="anomalie-sublabel">{{ app.formatDate(currentDate) }}</span>
                                </div>
                              </div>
                              <div class="row mt-4 align-items-center">
                                <div class="col">
                                  <label [ngClass]="{ 'field-required': isCommentRequired() }">{{ lang.anomalie.comment }}</label>
                                  <textarea class="form-control" [(ngModel)]="commentaire" [placeholder]="lang.anomalie.placeholderComment" maxlength="4000"></textarea>
                                </div>
                              </div>
                              @for (lien of liens; track lien; let idxLien = $index) {
                                <div class="row mt-3 align-items-center">
                                  <div class="col">
                                    @if (idxLien == 0) {
                                      <label>{{ lang.anomalie.links }}</label>
                                    }
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">
                                          <i class="fa fa-link"></i>
                                        </div>
                                      </div>
                                      <input type="text" class="form-control no-radius-left" [placeholder]="lang.anomalie.placeholderLink" [(ngModel)]="lien.value">
                                    </div>
                                  </div>
                                  <div class="col-2" [ngClass]="{ 'mt-4': idxLien == 0 }">
                                    @if (idxLien > 0) {
                                      <button class="btn btn-secondary" (click)="supprimerLien(lien)" [title]="lang.anomalie.deleteLink">
                                        <i class="fas fa-minus"></i>
                                      </button>
                                    }
                                    @if (liens.length - 1 == idxLien && liens.length < 5) {
                                      <button class="btn btn-secondary ml-2" (click)="ajouterLien()" [title]="lang.anomalie.addLink">
                                        <i class="fas fa-plus"></i>
                                      </button>
                                    }
                                  </div>
                                </div>
                              }
                              <div class="row mt-3">
                                <div class="col">
                                  <button class="btn btn-new" (click)="saveComment(false)">
                                    {{ lang.anomalie.saveComment }}
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        }
                      </div>
                    }
                  </app-card>
                </div>
              }
            </div>
          </div>
        </div>
      </app-content>
      <!-- MODALS -->
      <app-modal #modalConfirmationValiderAnomalie modalId="modalConfirmationValiderAnomalie" [validateLabel]="lang.validate" (validate)="validerAnomalie()">
        {{ getConfirmMessage() }}
      </app-modal>
      <!-- TOASTS -->
      <div class="toast error" id="toastAnomalieCommentRequired">{{ lang.anomalie.toastCommentRequired }}</div>
      <div class="toast error" id="toastAnomalieActionRequired">{{ lang.anomalie.toastActionRequired }}</div>
      <div class="toast error" id="toastAnomalieNumeroIsimanValideRequired">{{ lang.errors.anomalie.errorNumeroIsimanNotValid }}</div>
      <div class="toast" id="toastValidationSuccessAno">{{ lang.anomalie.toastValidationActionSuccess }}</div>
      <div class="toast" id="toastSaveCommentSuccessAno">{{ lang.anomalie.toastSaveCommentSuccess }}</div>
      <div class="toast" id="toastSaveSuccessAno">{{ lang.successSave }}</div>
      <div class="toast" id="toastControlesValid">{{ lang.successValidation }}</div>
      <div class="toast error" id="toastSaveErrorAno">{{ lang.anomalie.toastSaveError }}</div>

