<app-content>
  <div class="row">
    <div class="col page-title mb-4">
      {{ lang.nav.paramCriteresTitle }}
    </div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-auto form-group mt-2">
      <label>{{ lang.paramCriteres.selectCriteria }} :</label>
    </div>
    <div class="col-auto form-group">
      <select class="form-control" [(ngModel)]="critere" (change)="changeCritere()">
        @for (refCritere of refs['refParamCritere']; track refCritere) {
          @for (refType of refs['refParamTypeCritere']; track refType) {
            @if (refType.code == refCritere.type) {
              <option [value]="refCritere.code">{{ refCritere.label }}</option>
            }
          }
        }
      </select>
    </div>
    <div class="col"></div>
  </div>
  <app-table #tableParamCriteres type="paramCriteres" [parentItems]="paramCriteres" [itemsByPage]="10" [manualLoading]=true [enableAdd]=true (edit)="updateCritere($event)" (delete)="showDeleteConfirm($event)" (add)="addCritere()" (refresh)="getParamCriteres()" [enableExport]=true (export)="exportExcel()"></app-table>
</app-content>
<app-export-excel #exportCritereRisque></app-export-excel>
<!-- MODALS -->
<app-modal modalId="modalAddCritere" icon="pen" size="xl" [modalTitle]="modalTitle" hideFooter="true">
  @if (paramCriteresRef != null) {
    <app-table #tableParamCriteresRef [noRightBtn]="hasNoRight" [type]="refType" [parentItems]="paramCriteresRef" [manualLoading]=true [itemsByPage]="5" (select)="selectParentCritere($event)" forceAction="select"></app-table>
  }
</app-modal>
<app-modal #modalDeleteCritere modalId="modalConfirmSuppressionCritere" [noRightBtn]="hasNoRight" [validateLabel]="lang.validate" (validate)="deleteCritere()">
  {{lang.paramCriteres.validateDeleteCritere}}
</app-modal>
<!-- TOASTS -->
<div class="toast error" id="toastParamCritereAlreadyExist">{{ lang.paramCriteres.errorAlreadyExist }}</div>