@for (autreDevise of autresDevises(); track autreDevise; let idxAutreDevise = $index) {
  <div class="position-relative row mt-4">
    <div class="formio-number formio-amount col-auto">
      <label>{{ lang.autreDevise.montant }}</label>
      <input type="text" class="form-control" [class]="((checkAtrDevise && ((autreDevise.montant == 'NaN' || app.isEmpty(autreDevise.montant)) && displayIfValidate) ||(!app.isEmpty(parentObject()) && !checkAutreDeviseUsedByChildObject(autreDevise, true)))) ? 'border border-danger' : ''" [(ngModel)]="autreDevise.montant" separator [disabled]="read() || autreDevise.readAmount" (ngModelChange)="updateContrevaleur(autreDevise, idxAutreDevise, false)">
      @if ((checkAtrDevise && (autreDevise.montant == 'NaN' || app.isEmpty(autreDevise.montant)) && displayIfValidate) ) {
        <div class="form-text error mt-2">
          {{ lang.formFieldMandatory }}
        </div>
      }
      @if (!(checkAtrDevise && (autreDevise.montant == 'NaN' || app.isEmpty(autreDevise.montant)))) {
        <div class="form-text error mt-2">
          &nbsp;
        </div>
      }
      @if ((!app.isEmpty(parentObject()) && !app.isEmpty(autreDevise.montant) && !checkAutreDeviseUsedByChildObject(autreDevise, true))) {
        <div class="form-text error">
          {{ lang.versement.errorSumDDRs }}
        </div>
      }
    </div>
    <div [class]="isInsideModal() ? 'col-6' : 'col-4'">
      <label>{{ lang.autreDevise.devise }}</label>
      <select class="form-control" [class]="((checkAtrDevise && (app.isEmpty(autreDevise.devise)) && displayIfValidate) || (!autreDevise.read && checkDuplicate() && checkDuplicateDevises(autreDevise))) ? 'border border-danger' : ''" [(ngModel)]="autreDevise.devise" [disabled]="read() || autreDevise.read" (change)="updateContrevaleur(autreDevise, idxAutreDevise, true)">
        @for (devise of devises; track devise) {
          <option [value]="devise.idDevise">{{ devise.idDevise }} - {{ devise.libelleCourtDevise }}</option>
        }
      </select>
      @if ((!autreDevise.read && checkDuplicate() && checkDuplicateDevises(autreDevise))) {
        <div class="form-text error mt-2">
          {{ lang.rubrique.duplicatedDevise }}
        </div>
      }
      @if ((checkAtrDevise && (app.isEmpty(autreDevise.devise)) && displayIfValidate)) {
        <div class="form-text error mt-2">
          {{ lang.formFieldMandatory }}
        </div>
      }
    </div>
    @if (!read()) {
      <div class="col-auto mt-2">
        @if (checkAutreDeviseUsedByChildObject(autreDevise, false)) {
          <button class="btn btn-secondary button-form" (click)="deleteAutreDevise(autreDevise)" [title]="lang.deleteDevise">
            <i class="fas fa-minus"></i>
          </button>
        }
        @if (autresDevises().length < maxDevises() && (idxAutreDevise == autresDevises().length - 1)) {
          <button class="btn btn-secondary button-form ml-2" (click)="addAutreDevise()" [title]="lang.addDevise">
            <i class="fas fa-plus"></i>
          </button>
        }
      </div>
    }
    <div class="col-12">
      @if (typeObject() =='DC') {
        <app-contre-valeur [ref]="'contrevaleur-' + idxAutreDevise" [contrevaleurVisible]="autreDevise.contrevaleurVisible" [contrevaleurDate]="autreDevise.date_contrevaleur" [contrevaleurDevise]="autreDevise.devise_contrevaleur" [contrevaleurMontant]="autreDevise.montant_contrevaleur" (displayToast)="displayToast($event)"></app-contre-valeur>
      }
    </div>
  </div>
}
@if (autresDevises().length == 0 && !read()) {
  <div class="row mt-1">
    <div class="col">
      <button class="btn btn-secondary button-form ml-2" (click)="addAutreDevise()">
        <i class="fas fa-plus mr-1"></i>{{ lang.autreDevise.add }}
      </button>
    </div>
  </div>
}
<!-- TOAST -->
<div class="toast" id="toastUpdateContrevaleurSuccess">{{ lang.reglement.updateContrevaleurOk }}</div>
<div class="toast error" id="toastUpdateContrevaleurError">{{ lang.reglement.updateContrevaleurError }}</div>