@if (avanceContractuel != null) {
  <div class="accordion container float-left p-1">
    <div class="card infos card-collapse mt-3 pb-0">
      <div class="card-header card-collapse-header" data-target="#collapseInfoAvance">
        <i class="fas fa-window-restore mr-3"></i>
        {{ avanceContractuel.code_fonctionnel }} - {{ avanceContractuel.libelle }}
        @if (displayButtonAvance()) {
          <button type="button" class="btn btn-collapse-goto w-auto float-right py-0 bg-transparent" (click)="goToAvanceContractuel()">{{ lang.avanceContractuel.open }}</button>
        }
      </div>
      <div id="collapseInfoAvance" class="collapse show">
        <div class="card-body py-0">
          <div class="container px-2">
            <div class="row mt-0 pb-2 pt-2 card-collapse-group">
              <div class="col card-collapse-th">{{ lang.reglement.totalAmounts }}</div>
            </div>
            <div class="row mt-2 pb-2 card-collapse-separator">
              <div class="col">
                <span class="card-collapse-th">{{ lang.reglement.totalPaidAmount }}</span>
              </div>
              <div class="col">
                <span class="card-collapse-th">{{ lang.reglement.totalJustifiedAmount }}</span>
              </div>
              <div class="col">
                <span class="card-collapse-th">{{ lang.reglement.raj }}</span>
              </div>
            </div>
            <div class="row mt-2 pb-2">
              <div class="col">
                @if (!isFixed) {
                  <span>{{ app.formatNumberWithDecimals(montantVerseTotal) }} </span>
                }
                @if (isFixed) {
                  <span>{{ app.formatNumberWithDecimals(avanceFig.montant_verse_total_copy) }} </span>
                }
                {{ avanceContractuel.devise_avance }}
              </div>
              <div class="col">
                @if (!isFixed) {
                  <span>{{ app.formatNumberWithDecimals(montantTotalJustificatifsAvance) }} </span>
                }
                @if (isFixed) {
                  <span>{{ app.formatNumberWithDecimals(avanceFig.montant_total_justificatifs_avance_copy) }} </span>
                }
                {{ avanceContractuel.devise_avance }}
              </div>
              <div class="col">
                @if (!isFixed) {
                  <span [style.color]="resteJustifier < 0 ? 'red' : ''">
                    {{ app.formatNumberWithDecimals(resteJustifier) }}
                    {{ avanceContractuel.devise_avance }}
                  </span>
                }
                @if (isFixed) {
                  <span [style.color]="avanceFig.reste_justifier_copy < 0 ? 'red' : ''">
                    {{ app.formatNumberWithDecimals(avanceFig.reste_justifier_copy) }}
                    {{ avanceContractuel.devise_avance }}
                  </span>
                }
              </div>
            </div>
            <div class="row mt-0 pb-2 pt-2 card-collapse-group">
              <div class="col card-collapse-th">{{ lang.reglement.justification }}</div>
            </div>
            <div class="row mt-2 pb-2 card-collapse-separator">
              <div class="col">
                <span class="card-collapse-th">{{ lang.reglement.dljf }}</span>
              </div>
              <div class="col">
                <span class="card-collapse-th">{{ lang.reglement.justificationThreshold }}</span>
              </div>
              <div class="col">
                <span class="card-collapse-th">{{ lang.reglement.restJustify }}</span>
              </div>
            </div>
            <div class="row mt-2 pb-2">
              <div class="col">
                @if (avanceContractuel.date_ljf_final != null) {
                  <div>{{ app.formatDate(avanceContractuel.date_ljf_final) }}</div>
                } @else {
                  <div>{{ app.formatDate(avanceContractuel.date_ljf_initial) }}</div>
                }
              </div>
              <div class="col">
                @if ((avanceContractuel.avenant != null && avanceContractuel.avenant.pourcentage_final_dernier_versement != null)) {
                  <div>
                    {{ avanceContractuel.avenant.pourcentage_final_dernier_versement }} %
                  </div>
                } @else {
                  <div>{{ avanceContractuel.pourcentage_initial_dernier_versement }} %</div>
                }
              </div>
              @if (app.isEmpty(avanceContractuel.obj_ext_id)) {
                <div class="col">
                  @if ((!isFixed && resteJustifierDecaisserDossier == 0 || isFixed && avanceFig?.reste_justifier_decaisser_dossier_copy == 0)) {
                    <div class="text-success font-weight-bold">
                      @if (!isFixed) {
                        <span>{{ app.formatNumberWithDecimals(resteJustifierDecaisserDossier) }} </span>
                      }
                      @if (isFixed) {
                        <span>{{ app.formatNumberWithDecimals(avanceFig.reste_justifier_decaisser_dossier_copy) }} </span>
                      }
                      {{ avanceContractuel.devise_avance }}
                    </div>
                  } @else {
                    <div class="text-danger">
                      @if (!isFixed) {
                        <span>{{ app.formatNumberWithDecimals(resteJustifierDecaisserDossier) }} </span>
                      }
                      @if (isFixed) {
                        <span>{{ app.formatNumberWithDecimals(avanceFig.reste_justifier_decaisser_dossier_copy) }} </span>
                      }
                      {{ avanceContractuel.devise_avance }}
                    </div>
                  }
                </div>
              } @else {
                <div class="col"><span>-</span></div>
              }
            </div>
            <!-- JUSTIFICATIFS -->
            @if (!isFixed && avanceContractuel?.justificatifsAvance?.length > 0 || isFixed && avanceFig?.justificatifs_avance_figee?.length > 0) {
              <div class="row mt-0 pb-2 pt-2 card-collapse-group">
                <div class="col card-collapse-th">{{ lang.reglement.justificatifs }}</div>
              </div>
              <div class="row mt-2 pb-2 card-collapse-separator">
                <div class="col">
                  <div class="card-collapse-th">{{ lang.reglement.dateTraitement }}</div>
                </div>
                <div class="col">
                  <div class="card-collapse-th">{{ lang.reglement.montantsJustificatifs }}</div>
                </div>
                <div class="col">
                  <div class="card-collapse-th">{{ lang.reglement.liensRomeJustificatifs }}</div>
                </div>
              </div>
              @if (!isFixed) {
                <div>
                  @for (justificatif of avanceContractuel.justificatifsAvance; track justificatif) {
                    <div class="row mt-2 pb-2">
                      <div class="col">
                        {{ app.formatDate(justificatif.date_creation) }}
                      </div>
                      <div class="col">
                        @if (app.isAFD(entite)) {
                          <span>{{ app.formatNumberWithDecimals(justificatif.montant_finance_afd) }} {{ justificatif.devise }} </span>
                        }
                        @if (!app.isAFD(entite)) {
                          <span>{{ app.formatNumberWithDecimals(justificatif.montant_justifie) }} {{ justificatif.devise }} </span>
                        }
                      </div>
                      <div class="col">
                        @if (justificatif.lien_rom != null) {
                          <span class="comment-link" (click)="app.gotoLink(justificatif.lien_rom)">{{ justificatif.lien_rom }}</span>
                        }
                      </div>
                    </div>
                  }
                </div>
              }
              @if (isFixed) {
                <div>
                  @for (justificatif of avanceFig.justificatifs_avance_figee; track justificatif) {
                    <div class="row mt-2 pb-2">
                      <div class="col">
                        {{ app.formatDate(justificatif.date_creation) }}
                      </div>
                      <div class="col">
                        @if (app.isAFD(entite)) {
                          <span>{{ app.formatNumberWithDecimals(justificatif.montant_finance_afd) }} {{ justificatif.devise }} </span>
                        }
                        @if (!app.isAFD(entite)) {
                          <span>{{ app.formatNumberWithDecimals(justificatif.montant_justifie) }} {{ justificatif.devise }} </span>
                        }
                      </div>
                      <div class="col">
                        @if (justificatif.lien_rom != null) {
                          <span class="comment-link" (click)="app.gotoLink(justificatif.lien_rom)">{{ justificatif.lien_rom }}</span>
                        }
                      </div>
                    </div>
                  }
                </div>
              }
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}