<app-content>
  <div class="row">
    <div class="col page-title">
      {{ lang.nav.versements }}
    </div>
  </div>
  @if (app.hasRight(store, 'DossierVersement.newDV')) {
    <div class="row mb--3 mt--5">
      <div class="col text-right">
        <button class="btn btn-new" (click)="addVersement()" [disabled]="!refsModalLoaded">
          @if (!refsModalLoaded) {
            <span class="spinner-border spinner-border-sm"></span>
          }
          @if (refsModalLoaded) {
            <i class="fas fa-plus"></i>
          }
          {{ lang.newFolder }}
        </button>
      </div>
    </div>
  }
  <app-table #tableVersements [type]="'versements' + entite" [parentItems]="versements" [manualLoading]=true [itemsByPage]="10" (goto)="gotoVersement($event)" highlightIf="canceled" [highlightIfValue]=true highlightMode="canceled" [lineClickable]=true [filtersButtons]="filtersButtons" (refresh)="getVersements()" [enableExport]=true (export)="exportExcel()"></app-table>
</app-content>
<app-export-excel #exportDV></app-export-excel>
<!-- MODALS -->
<app-modal #modalAddVersement modalId="modalAddVersement" [modalTitle]="lang.newFolder" icon="plus" (validate)="saveVersement()">
  <p slot="subtitle" class="blockSubTitle">
    {{ lang.createFolder }}
  </p>
  <div class="mt-6" [id]="'formio_versementInit' + entite"></div>
  <div class="toast error" id="toastVersementSaveError">{{ lang.failedFormSave }}</div>
</app-modal>