@if (!hideFilters()) {
  <div class="row" [ngClass]="{ 'mt-4': !noMT() }">
    <div class="d-flex col">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <input type="text" class="form-control no-radius-left" autocomplete="off" id="search" [(ngModel)]="filter" (keyup)="filterItems()" [placeholder]="placeholder">
        @if (columnsWithFilter.length > 0 && !hideSubfilters()) {
          <div class="input-group-append">
            <button class="btn btn-filter" data-toggle="collapse" data-target="#collapseFilter" (click)="toggleFilters()">
              <i class="fas fa-sliders-h ico-filter" [title]="lang.table.filters"></i>
            </button>
          </div>
        }
      </div>
    </div>
    @if (filtersButtons() != null && filtersButtons().length > 0) {
      <div class="col-auto pt-2px">
        @for (filtersButton of filtersButtons(); track filtersButton) {
          <button class="btn" [ngClass]="{ 'btn-filter-selected': filterItemsSelected(filtersButton.key, filtersButton.value) }" (click)="filterItemsBy(filtersButton.key, filtersButton.value)">
            <i class="fas fa-filter mr-2"></i>{{ filtersButton.label }}
          </button>
        }
      </div>
    }
  </div>
}
<div class="row">
  @if (columnsWithFilter.length > 0) {
    <div class="col-12 collapse" [ngClass]="{ show: advancedFiltersUnfolded() }" id="collapseFilter">
      <div class="card mt-1">
        <div class="card-body">
          <div class="form-row">
            @for (column of columnsWithFilter; track column) {
              @if (column.hidden == null || !column.hidden) {
                <div class="col">
                  <label>{{ getColumnLabel(column) }}</label>
                  @if (filters != null) {
                    <input type="text" class="form-control" autocomplete="off" [(ngModel)]="filters[column.key]" (keyup)="filterItems()">
                  }
                </div>
              }
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
<div [ngClass]="{ 'overflow-auto tableFixHead': isScrollable(), 'tableFixSecChild': fixSecChild(), 'rubrique-table-width': isInsideModal() }">
  <table [class]="'table grid mt-2 ' + (maxContentColumn() ? 'max-content' : '')">
    <thead>
      <tr>
        @for (column of columns; track column; let indexColumn = $index) {
          @if (!column.action || (column.action && !disabledEditAndDelete() && (column.role == null || app.existStringInarray(userRole, column.role)))) {
            <th [title]="((column.tooltip != null) ? column.tooltip : '')" [ngClass]="{ 'text-right th-amount': (column.amount), 'th-amount-no-sort': (column.amount && isHideSort), 'd-none': column.hidden }" scope="col" [style]="(column.width != null  && (column.role == null || app.existStringInarray(userRole, column.role))) ? 'width: ' + column.width : ((column.action) ? 'width: 0' : '')" (click)="sortItems(column)" [class]="((column.applyBorderRight && indexColumn < columns.length - 2) ? 'border-right' : '')">
              <span>
                @if (column.isCheckAll) {
                  <button class="btn btn-checkbox" (click)="toggleBoolean(items, column.key, $event, column.uniqueChoice)">
                    @if (!app.isTrueAll(items, column.key)) {
                      <i class="far fa-square bg-white"></i>
                    }
                    @if (app.isTrueAll(items, column.key)) {
                      <i class="fas fa-check-square"></i>
                    }
                  </button>
                }
              </span>
              @if (column.action == null) {
                <span>{{ getColumnLabel(column) }}</span>
              }
              @if (showColumnSort(column)) {
                <i [ngClass]="getColumnSort(column)"></i>
              }
            </th>
          }
        }
      </tr>
    </thead>
    <tbody>
      @if (loading) {
        <tr>
          <td [attr.colspan]="columns.length">
            <app-spinner [error]="errorLoading"></app-spinner>
          </td>
        </tr>
      }
      @for (item of itemsInPage; track item; let indexItem = $index) {
        @if (!loading && items != null && items.length > 0) {
          <tr [class]="'body-tr border' + ((isHighlightRow(item)) ? ' body-tr-highlight-' + highlightMode() : '') + ((!lineClickable()) ? ' cursor-default' : '')" (click)="getClick($event, item)">
            @for (column of columns; track column; let indexColumn = $index) {
              @if (!column.action || (column.action && !disabledEditAndDelete() && (column.role == null || app.existStringInarray(userRole, column.role)))) {
                <td [ngClass]="{ 'text-right td-amount': (column.amount), 'd-none': column.hidden, 'td-truncate': survolActif(column, item) }" [class]="((column.applyBorderRight && indexColumn < columns.length - 2) ? 'border-right' : '')">
                  @if (column.action == null) {
                    <span class="w-100 span-truncate">
                      @if (column.type == 'addSPC') {
                        <span>
                          @if (item.niveau == '1') {
                            <button class="btn btn-secondary" (click)="emit(column.type, item)" [title]="lang.controlesDCV.titleAddSPC"><i class="fa fa-plus-circle"></i></button>
                          }
                        </span>
                      }
                      @if (column.type == 'order') {
                        <span>
                          <button class="btn btn-secondary" (click)="decrementOrder(item)"><i class="fas fa-chevron-up ml-0"></i></button>
                          <button class="btn btn-secondary" (click)="incrementOrder(item)"><i class="fas fa-chevron-down ml-0"></i></button>
                        </span>
                      }
                      @if (column.type == 'payback') {
                        <span>
                          <span [class]="'d-inline-block ' +(!app.isRefundable(item) ? 'cursor-default' : '')" tabindex="0" [title]="lang.ddrDefinitif.payback">
                            <button [class]="'btn event-catcher btn-secondary mr-2' + (!app.isRefundable(item) ? 'event-pointer-none' : '')" type="button" [disabled]="!app.isRefundable(item)" (click)="emit(column.type, item)"><i class="event-catcher fas fa-coins"></i></button>
                          </span>
                        </span>
                      }
                      @if (column.type == 'file') {
                        <span>
                          <span [class]="'d-inline-block ' +(!app.isNotDownloadable(item) ? 'cursor-default' : '')" tabindex="0" [title]="lang.reglement.tooltipDdr">
                            <button [class]="'btn event-catcher btn-secondary mr-2' + (!app.isNotDownloadable(item) ? 'event-pointer-none' : '')" type="button" [disabled]="!app.isNotDownloadable(item)" (click)="emit(column.type, item)"><i class="event-catcher fas fa-file-pdf"></i></button>
                          </span>
                        </span>
                      } @else {
                        <!-- colonne de type number -->
                        @if (column.type == 'number' && column.editable == null) {
                          <span [class]="(column.compareWith != null && !app.isEgaux(item[column.key], item[column.compareWith.key])) ? 'element-underline-danger' : 'text-decoration-none'">
                            {{ renderItem(item, column) }}
                            @if (column.secKey != null && column.secKey.ref != null) {
                              <span>
                                {{ app.capitalize(app.getRefLabel(column.secKey.ref, item[column.secKey.key])) }}
                              </span>
                            }
                            @if (column.secKey != null && column.secKey.ref == null) {
                              <span>
                                {{ item[column.secKey.key] }}
                              </span>
                            }
                          </span>
                        } @else {
                          @if (column.secKey != null && column.secKey.type == 'parentId') {
                            <span>
                              @if (item[column.key] != null && item[column.key] != '') {
                                <span>{{ renderItem(item, column) }} -&nbsp;</span>
                                }{{ item[column.secKey.key] }}
                              </span>
                            } @else {
                              <!-- <column editable> -->
                              @if (column.editable) {
                                <span [class]="column.changeCss ? item.classCss: ''">
                                  @if ((column.hideIfValue != null && item[column.hideIfValue.key] == column.hideIfValue.value)) {
                                    -
                                  } @else {
                                    <!-- <column boolean> -->
                                    @if (column.type == 'boolean') {
                                      <button class="btn btn-checkbox" (click)="toggleBoolean(item, column.key, null, column.uniqueChoice)" [disabled]="item.disabledCheckBox">
                                        @if (!app.isTrue(item[column.key])) {
                                          <i class="far fa-square bg-white"></i>
                                        }
                                        @if (app.isTrue(item[column.key])) {
                                          <i class="fas fa-check-square"></i>
                                        }
                                      </button>
                                    } @else {
                                      <!-- <column autre que boolean avec pas separator> -->
                                      @if (!column.ref) {
                                        @if (!column.separator) {
                                          <input [disabled]="item.disabled || column.read || (item.collumnsDisabled != null && item.collumnsDisabled[column.key])" [type]="((column.type == 'date') ? 'date' : 'text')" class='form-control' [class]="(column.applyBorderDanger != null && item.applyBorderDanger != null && applyBorderDanger(item, column.key)) ? 'border border-danger' : ''" [(ngModel)]="item[column.key]" (blur)="changeInputItem(item, column.key, indexItem)" onclick="this.showPicker()">
                                        } @else {
                                          <div [class]="item.clumnsIcons != null && item.clumnsIcons[column.key] != null ? 'input-group' : ''">
                                            <input type="text" class="form-control formio-amount" [disabled]="item.disabled || column.read || (item.collumnsDisabled != null && item.collumnsDisabled[column.key])" [class]="(column.applyBorderDanger != null && item.applyBorderDanger != null && applyBorderDanger(item, column.key)) ? 'border border-danger' : ''" [(ngModel)]="item[column.key]" (ngModelChange)="changeInputItem(item, column.key, indexItem)" separator autofocus>
                                            @if (item.clumnsIcons != null) {
                                              <div class="input-group-append">
                                                @if (item.clumnsIcons[column.key] != null) {
                                                  <div class="input-group-text">
                                                    <i class="fa fa-percent"></i>
                                                  </div>
                                                }
                                              </div>
                                            }
                                          </div>
                                        }
                                      }
                                      @if (column.ref) {
                                        <select class="form-control checkbox-Column" [(ngModel)]="item[column.key]" [disabled]="(item.collumnsDisabled != null && item.collumnsDisabled[column.key])">
                                          @for (refEl of app.getRef(column.ref); track refEl) {
                                            <option [value]="refEl.code">{{ refEl.code }}</option>
                                          }
                                        </select>
                                      }
                                    }
                                    <!-- <column autre que boolean> -->
                                  }
                                </span>
                              } @else {
                                <span [class]="'span-truncate ' + (column.applyHighlight && isHighlightColCanceled(item) ? 'text-danger' : ((item.customClass != null && column.applyCostumClass) ? item.customClass : ''))">
                                  <div [innerHTML]="renderItem(item, column)" class="w-100 text-truncate" [title]="(survolActif(column, item) ? renderItem(item, column) : '')"></div>
                                </span>
                              }
                            }
                          }
                        }
                      </span>
                    }
                    @if (column.action == null && column.subKeys != null) {
                      <div class="w-100">
                        @for (subKey of column.subKeys; track subKey) {
                          <div [class]="'subitem ' + (survolActif(column, item) ? 'span-truncate' : '')">
                            @if (subKey != null && subKey.entite != null && subKey.entite == entite) {
                              <span [innerHTML]="renderItem(item, subKey)"></span>
                            } @else {
                              @if (item[subKey.key] != null && (subKey.type == null || subKey.type != 'lien_rome')) {
                                <span [innerHTML]="renderItem(item, subKey)" class="w-100 text-truncate" [title]="renderItem(item, subKey)"></span>
                              }
                              @if (item[subKey.key] != null && subKey.type != null && subKey.type == 'lien_rome') {
                                <span class="w-100 text-truncate comment-link event-catcher" [title]="renderItem(item, subKey)" (click)="app.gotoLink(item[subKey.key])">Lien Rome</span>
                              }
                            }
                          </div>
                        }
                      </div>
                    }
                    @if (isHighlightRowDeleted(item) && column.action && isEnableAction(item, column) && !disabledEditAndDelete() && (column.role == null || app.existStringInarray(userRole, column.role))) {
                      <span class="body-tr-highlight-deleted" title="Cet élément est supprimé">
                        <i class="fas fa-times"></i>
                      </span>
                    }
                    @if (!isHighlightRowDeleted(item) && column.action && isEnableAction(item, column) && !disabledEditAndDelete() && (column.role == null || column.role == userRole) && !noRightBtn() && (item.showRightIcon == null || (item.showRightIcon != null && item.showRightIcon))) {
                      <button class="btn event-catcher" [ngClass]="{ action: (column.type == 'validate') }" [title]="getColumnTooltip(column)" (click)="emit(column.type, item)" [disabled]="item.disabled">
                        @if (getColumnType(column.type) == 'goto') {
                          <i class="fas fa-folder event-catcher"></i>
                        }
                        @if (getColumnType(column.type) == 'edit') {
                          <i class="fa fa-pen event-catcher"></i>
                        }
                        @if (getColumnType(column.type) == 'update') {
                          <i class="fa fa-pen event-catcher"></i>
                        }
                        @if (getColumnType(column.type) == 'delete') {
                          <i class="fa fa-trash event-catcher"></i>
                        }
                        @if (getColumnType(column.type) == 'treat') {
                          <i class="fa fa-user-cog event-catcher"></i>
                        }
                        @if (getColumnType(column.type) == 'affect') {
                          <i class="fa fa-user-cog event-catcher"></i>
                        }
                        @if (getColumnType(column.type) == 'select') {
                          <i class="fa fa-plus event-catcher"></i>
                        }
                        @if (getColumnType(column.type).startsWith('add')) {
                          <i class="fa fa-plus-circle event-catcher"></i>
                        }
                      </button>
                    }
                  </td>
                }
              }
            </tr>
          }
        }
        @if (!hideFooter()) {
          <tr class="footer">
            <td [attr.colspan]="(!enableRefresh() && !enablePagination()) ? '3' : columns.length">
              <div class="d-flex justify-content-between align-items-center">
                @if (!enableRefresh()) {
                  <div class="d-flex align-items-center">
                  </div>
                }
                @if (enableRefresh()) {
                  <div class="d-flex align-items-center">
                    @if (idRefresh() != null) {
                      <button [id]="idRefresh()" class="btn btn-alter mr-3" [ngClass]="{ 'd-none': read() }" (click)="doRefresh()" [title]="lang.table.refresh">
                        <i class="fa fa-refresh"></i>
                      </button>
                    }
                    @if (idRefresh() == null) {
                      <button class="btn btn-alter mr-3" [ngClass]="{ 'd-none': read() }" (click)="doRefresh()" [title]="lang.table.refresh">
                        <i class="fa fa-refresh"></i>
                      </button>
                    }
                    @if (enableExport()) {
                      <button class="btn btn-alter btn-spinner mr-3" (click)="exportTable()" [title]="lang.table.export">
                        @if (loadingExport) {
                          <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        @if (!loadingExport) {
                          <i class="fa fa-download"></i>
                        }
                      </button>
                    }
                    @if (items != null && items.length > 0) {
                      <div>
                        {{ lang.table.results }} <b>{{ itemsByPage() * (currentPage - 1) + 1 }}</b> {{ lang.table.pagingTo }} <b>{{ pageMax }}</b> {{ lang.table.pagingOf }} <b>{{ itemsCount }}</b>
                      </div>
                    }
                    @if (items == null || items.length == 0) {
                      <div>
                        {{ lang.table.noResult }}
                      </div>
                    }
                  </div>
                }
                @if (enableAdd()) {
                  <button #btnAdd class="btn" (click)="emit('add')" [title]="tooltipAdd" [class]="(!enablePagination() && !enableRefresh()) ? 'd-flex align-items-center td-fixed' : ''">
                    @if (isLoadingBtnAdd) {
                      <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    @if (!isLoadingBtnAdd) {
                      <i  class="fa fa-plus-circle"></i>
                    }
                  </button>
                }
                @if (enablePagination()) {
                  <ul class="pagination">
                    <li class="page-item" [ngClass]="{ disabled: (currentPage == 1) }" (click)="changePage(currentPage - 1)">
                      <a class="page-link">{{ lang.table.previous }}</a>
                    </li>
                    @if (pagesCount <= maxPages) {
                      @for (n of pagesCountArray; track n) {
                        <li class="page-item" [ngClass]="{ active: (currentPage == n) }" (click)="changePage(n)">
                          <a class="page-link">{{ n }}</a>
                        </li>
                      }
                    }
                    @if (pagesCount > maxPages) {
                      <li class="page-item" [ngClass]="{ active: (currentPage == 1) }" (click)="changePage(1)">
                        <a class="page-link">1</a>
                      </li>
                      @if (showPaginationFirstDots) {
                        <li class="page-item">
                          <a class="page-link">...</a>
                        </li>
                      }
                      @for (n of pagesCountArray; track n) {
                        <li class="page-item" [ngClass]="{ active: (currentPage == n) }" (click)="changePage(n)">
                          <a class="page-link">{{ n }}</a>
                        </li>
                      }
                      @if (showPaginationLastDots) {
                        <li class="page-item">
                          <a class="page-link">...</a>
                        </li>
                      }
                      <li class="page-item" [ngClass]="{ active: (currentPage == pagesCount) }" (click)="changePage(pagesCount)">
                        <a class="page-link">{{ pagesCount }}</a>
                      </li>
                    }
                    <li class="page-item" [ngClass]="{ disabled: (currentPage == pagesCount || items == null || items.length == 0) }" (click)="changePage(currentPage + 1)">
                      <a class="page-link">{{ lang.table.next }}</a>
                    </li>
                  </ul>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>